body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    background-color:rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
    z-index: 100;
}
.page-header__conteiner{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;

}
.page-header__logo{
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}
.page-header__logo-icon{
    width: 100%;
    height: 100%;
}
.page-header__nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 50px;
}
.page-header__nav-link{
    text-decoration: none;
    font-size: 18px;
    /* margin: 25px; */
    line-height: 1.3;
    color: #1F1E1E;
    transition: color 0.2s;
}
.page-header__nav-link:hover,
.page-header__nav-link:active{
    color: #bc3324;
}
.btn{

    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 40px;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #1F1E1E;
    border-radius: 0;
    outline: none;
    color:#1f1e1e;
    font-family: "Open Sans",sons-serif;
    font-weight:600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 1.3;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

}
.btn:hover,
.btn:active{
    background-color: #1F1E1E;
    color: #FFFFFF;
}
.page-header_right-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
}
.page-header__btn{

}
.body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.listing{
    flex-direction: column;
}
.listing__event-list{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

}

.events__listing{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}
.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
}
.event-card__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #1F1E1E;
    text-decoration: none;
}
.event-card__link:hover .event-card__title{
    color: #bc3324;
    text-decoration-color: #bc3324;
}
.event-card__picture{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}
.event-card__picture::after{
    content: "";
    display: block;
    width: 100%;
    padding-top: 107.160%;
}
.event-card__img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-card__title{
    margin: 0 0 15px;
    min-height: 66px;
    color: #1F1E1E;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-decoration: underline transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
}
.event-card__text{
    margin: 0 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.event-card__time{
    display: block;
    margin: 15px 0 0 ;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.listing__event-card{
    width: calc(33.333% - 40px);
}
.main{
    flex: 1 0 auto;
    /* background-color: aquamarine; */
}
.page-footer{
    flex: 0 0 auto;
    /* background-color: #777777; */
}