body{
    background-color: #1f1f20;
}
header{
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    min-width: 630px;
}
a{
    color: #aaaaaa;
    text-decoration: none;
}
P{
    color: #777777;
}
.page-header{
    width: 99%;
    height: 120px;

    display: grid;
    grid-template-columns: 120px auto 300px;
    grid-template-rows: 120px;
    grid-template-areas: "logo nav btn";
    gap: 10px;
    place-items: center;

    background-color: #252528;
    background-size: cover;

    border: 5px solid;
    border-radius: 20px;
    border-color: #333336; 
}
.page-header__logo{
    grid-area:"logo";
}
.page-header__logo-icon{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.page-header__nav{
    grid-area:"nav";
    padding: 20px;
    text-align: center;
}
.page-header__btn{
    justify-content: center;
    grid-area:"btn";
}
.page-header__btn-img{
    max-width: 100%;   /* Отзывчивый дизайн */
    max-height: 100%;
    height: auto; 
    padding: 0px;
    object-fit: cover;
}
.btn{
    width: 80%;
    height: 60%;
    padding: 20px;

    border: 2px solid;
    border-radius: 10px;
    border-color: #333333; 
    background-color: #333333;
}
.page-header__nav-link{
    padding: 20px;

}
